<div class="col-xs-12">
  <div class="list-group">
    {{#each model as |appointment|}}
      <div class="list-group-item" id="live-appointment-{{appointment.id}}">
        <h4>{{appointment.appointmentType}} -- {{appointment.company}}</h4>
        <div>{{appointment.permalink}}: {{appointment.materialDescription}}</div>
      </div>
    {{/each}}
  </div>
</div>

<div class="col-xs-12">
  {{#link-to "apiz.live-appointments.new" class="btn btn-default"}}New Appointment{{/link-to}}
</div>
<div class="col-xs-12">
  <div class="alert alert-info">
    <ul>
      <li>Today's Appointments: {{model.length}}</li>
      <li>channel-topic: {{appointmentsChan.topic}}</li>
      <li>channel-state: {{appointmentsChan.state}}</li>
      <li>socket-state: {{socket.state}}</li>
    </ul>
  </div>
</div>

<div class="col-xs-12">{{outlet}}</div>